.buildingsGroup {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-rows: repeat(3, minmax(0px, 1fr));
  text-align: center;
}

.buildingCard {
  height: 100px;
}
